<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="logs\internal-nlog.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="Sentry.NLog" />
  </extensions>

  <!--<variable name="DefaultLayout" value="${longdate} | ${event-properties:item=EventId_Id} | ${level:uppercase=true:padding=5} | ${logger} | ${message} | ${exception:format=type,tostring} | ${callsite} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />-->

  <!-- the targets to write to -->
  <targets async="true">
    <target xsi:type="File" name="LogFile" fileName="logs\nlog-${shortdate}.log" layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring} | ${logger} | url: ${aspnet-request-url} | action: ${aspnet-mvc-action}" />

    <target xsi:type="Sentry" name="Sentry"
            dsn="https://d7b978ab8f1a49278b33ce72a268fdc7@o929560.ingest.sentry.io/5878336"
            layout="${message}"
            breadcrumbLayout="${message}"
            minimumBreadcrumbLevel="Debug"
            minimumEventLevel="Error">

      <!-- Advanced options can be configured here-->
      <options
          environment="Development"
          attachStacktrace="true"
          sendDefaultPii="true"
          shutdownTimeoutSeconds="5">
        <!--Advanced options can be specified as attributes or elements-->
        <includeEventDataOnBreadcrumbs>true</includeEventDataOnBreadcrumbs>
      </options>

      <!--Add any desired additional tags that will be sent with every message -->
      <tag name="logger" layout="${logger}" />

    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Warn" writeTo="LogFile" />
    <logger name="*" minLevel="Error" writeTo="Sentry"/>
  </rules>
</nlog>